.navbar{
    height:80px;
    background-color:#fff;
    display: flex;
    font-family: 'Varela Round',sans-serif;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0px;
    border-bottom:2px solid gray;
    box-shadow:2px 2px 4px rgba(253, 251, 251, 0.1);
    z-index: 999;
    padding: 10px 20px;

}
.leftSide,.rightSide{
    flex:3;
    display:flex;
    align-items: center;
    justify-content: center;
}
.center{
    flex:6;
}
.Icon{
    font-size: 25px;
    margin-right: 10px;
    color:black;
    cursor: pointer;
}
.Icon:hover{
    color:blue;
}
.centerListItem{
    color:black;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
.centerListItem:hover{
    color:blue;
}
.search{
    font-size: 20px;
    color:black;
    cursor: pointer;
    margin-left: 14px;
}
.search:hover{
    color:blue;
}
.navbar.leftSide{
    flex:50%;
    height:100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.rightSide img{
    width: 60px;
    height:40px;
    border-radius:80%;
    object-fit: cover;
    cursor: pointer;
}
.centerList{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    list-style: none;

}
.dropdown{
    display: none;
    position:absolute;
    top:30px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(139, 137, 137, 0.1);
    z-index:2;
}
.dropdown-item{
    padding: 10px;
    text-decoration: none;
    display: block;
    color:black;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width:1024px){
.navbar{
    height: 70px;
    display: flex;
    top:10px;
    position: relative;
}
 .hamburger-menu{
    display: none;
    
}
}
@media screen and (min-width:998px){
    .navbar{
        height: 70px;
        display: flex;
        position: relative;
        top:10px;
    
}
.hamburger-menu{
    display: none;
} 
}
@media screen and (max-width:768px){
    .navbar{
        height: 50px;
        display: flex;
        position: relative;
        top:10px;
    }
    .center{
        display: none;
        
    }
    .rightSide{
        display: none;
       
    }
    .leftSide{
        display: none;
      
    }
    .centerList{
        position:relative;
        z-index:99;
        height:100px;
        display: flex;
       padding-left: 10px;
        align-items:center;
        transition: all 1s linear;
        transform-origin:top ;
    
    }
    .centerList ul{
        height:150px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
      
    }
    .centerListItem ul li{
        transition-delay: 0.2s;
    }
    .hamburger-menu{
        display: block;
        font-size: 2rem;
        margin:30px;
    }
    .hamburger-menu.active + .dropdown{
        display: block;
        padding:20px;
        margin-top: 50px;
        margin:10px;
    }
}
@media screen and (max-width:479px){
    .navbar{
        height: 40px;
        display: flex;
        position: relative;
        top:10px;
}
.main img{
    width: 150%;
    height:100vh;
}

}
