.Sidebar{
    flex:3;
    margin-top: 20px;
    padding: 20px;
    background-color: #a7a7a7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    margin:20px;
    padding:10px;
    text-align: center;
    justify-content: center;

}
.Title{
    margin-top:30px;
    padding: 15px;
    width:50%;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: #222;
    text-align: center;
    justify-content: center;


}
.about img{
    width: 70%;
    height:100px;
    padding:15px;
}
.about p{
    padding:10px;
    text-align: justify;
    justify-content: center;
}
.category{
    margin-right:15px;
    margin-bottom: 10px;
    padding:10px;
    text-align: center;
}
.sidebarList{
    list-style: none;
    margin-bottom: 20px;
}
.sidebarListItem{
    display:inline-block;
    width:50%;
    margin-top: 15px;
    color: black;
    cursor: pointer;
}
.social{
    margin-top: 25px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.socialIcon{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color:black;
}

@media screen and (max-width:767px){
    .Sidebar{
        flex:3;
        margin-top: 20px;
        padding: 7px;
        background-color: #a7a7a7;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:479px){
    .sidebar{
        flex:1;
    
    }
}